# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.bash_history
/.bash_logout
/.bashrc
/.cache/
/.config/
/.dbshell
/.gitconfig
/.lesshst
/.mongorc.js
/.npm/
/.nvm/
/.pm2/
/.profile
/.ssh/
/.sudo_as_admin_successful
/n/
/uploads
/.vscode

