footer{
    color: #fff
}
nav{
    width: 100%;
}
.navbar-dark .navbar-brand {
    color: #fff;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #D0D0D0 !important;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 14.5rem;   
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  #content-wrap {
    padding-bottom: 14.5rem;    /* Footer height */
  }


.list-unstyled a{
    color: #fff
}
#header {
    position: fixed;
}

#button_home {
    padding: 4px 10px;
    display: inline-block;
    border-radius: 50px;
    background-color: #00B1FF;
    color: white;
    border: 5px solid white;
    transition: border 0.2s ease;
    width: 10%;
    text-align: center;
  }
  #button_home:hover {
    border: 5px solid #81D9FF;
    cursor: pointer;
}
.center {
    padding: 300px 0;
    text-align: center;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #fff;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
footer{
    color: #fff
}
nav{
    width: 100%;
}
.navbar-dark .navbar-brand {
    color: #fff;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #D0D0D0 !important;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 14.5rem; 
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  #content-wrap {
    padding-bottom: 14.5rem;    /* Footer height */
  }


.list-unstyled a{
    color: #fff
}
#header {
    position: fixed;
}

#button_home {
    padding: 4px 10px;
    display: inline-block;
    border-radius: 50px;
    background-color: #00B1FF;
    color: white;
    border: 5px solid white;
    transition: border 0.2s ease;
    width: 10%;
    text-align: center;
  }
  #button_home:hover {
    border: 5px solid #81D9FF;
    cursor: pointer;
}
.center {
    padding: 300px 0;
    text-align: center;
  }
.homepage .carousel-item {
    height: 130vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .divider{
      width: 5px;
      display: inline-block;
  }
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.card-img-top{
    width: 262px;
    height: 146px;
}
.btn.active{
    background-color: #666;
    color: white;
}
.course{
    width: 262px;
    min-height: 200px;
    outline-style: solid;
    border-color: red;
}
.zoom {
    transition: transform 0.3s;
   }
.zoom:hover {
    -ms-transform: scale(1.03); /* IE 9 */
    -webkit-transform: scale(1.03); /* Safari 3-8 */
    transform: scale(1.03); 
  }
  
.nav-link {
    color: #fff !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #dc3545 !important;
}

.carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}
.carousel .thumb {
    width: 120px !important;
    height: 80px !important;
}

.carousel .slide img {
    height: 310px !important;

    width: 100% !important;  /* change this to whatever you want */
}
div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto
}
.carousel .thumb.selected, .carousel .thumb:hover{
    border: 3px solid #999999 !important;
}
.active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #ced4da;
    box-shadow: 1px solid #ced4da;
}
.active-cyan-2 input[type=text]{
    width: 40% !important;
}
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;

}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #fff;
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}